torch
transformers
python-dotenv
SentencePiece
streamlit 
groq
sentence-transformers
fastapi
uvicorn
tree-sitter
numpy
tree-sitter-python
openai 
networkx 
node2vec 
gensim 
pinecone
faiss-cpu
requests
langchain-google-genai
langchain
langchain-community
fastapi 
uvicorn
